<?xml version="1.0" encoding="UTF-8"?>
<!--
The MIT License (MIT)

Copyright (c) 2015 Devin Garner

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-pgb-ios-localize-app-name"
    version="1.0.7">

    <name>Cordova Plugin PGB iOS Localize App Name</name>
	<description>Allows localization of IOS App Name ("Bundle Display Name" or CFBundleDisplayName) when compiling PhoneGap/Cordova apps using build.phonegap.com (PhoneGap Build)</description>
    <engines>
        <engine name="cordova" version=">=2.4.0" />
    </engines>
    <repo>https://github.com/speige/cordova-plugin-pgb-ios-localize-app-name.git</repo>
    <issue>https://github.com/speige/cordova-plugin-pgb-ios-localize-app-name/issues</issue>

	<license>MIT</license>
    <keywords>ecosystem:cordova,cordova-ios,cordova,phonegap,ios,appstore,localization,Bundle Display Name,CFBundleDisplayName,CFBundleName,CFBundleLocalizations,LSHasLocalizedDisplayName,Application has localized display name,Info.plist,InfoPlist.strings,.lproj</keywords>

    <!-- ios -->
    <platform name="ios">
		<preference name="DA_CFBUNDLEDISPLAYNAME" />
		<preference name="DE_CFBUNDLEDISPLAYNAME" />
		<preference name="EL_CFBUNDLEDISPLAYNAME" />
		<preference name="EN_CFBUNDLEDISPLAYNAME" />
		<preference name="ES_CFBUNDLEDISPLAYNAME" />
		<preference name="FI_CFBUNDLEDISPLAYNAME" />
		<preference name="FR_CFBUNDLEDISPLAYNAME" />
		<preference name="ID_CFBUNDLEDISPLAYNAME" />
		<preference name="IT_CFBUNDLEDISPLAYNAME" />
		<preference name="JA_CFBUNDLEDISPLAYNAME" />
		<preference name="KO_CFBUNDLEDISPLAYNAME" />
		<preference name="MS_CFBUNDLEDISPLAYNAME" />
		<preference name="NB_CFBUNDLEDISPLAYNAME" />
		<preference name="NL_CFBUNDLEDISPLAYNAME" />
		<preference name="PT_CFBUNDLEDISPLAYNAME" />
		<preference name="RU_CFBUNDLEDISPLAYNAME" />
		<preference name="SV_CFBUNDLEDISPLAYNAME" />
		<preference name="TH_CFBUNDLEDISPLAYNAME" />
		<preference name="TR_CFBUNDLEDISPLAYNAME" />
		<preference name="ZH_CFBUNDLEDISPLAYNAME" />
		<preference name="ZH_HANT_CFBUNDLEDISPLAYNAME" />
		
        <source-file src="locales/da.lproj/InfoPlist.strings" target-dir="da.lproj/" />
		<config-file target="da.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$DA_CFBUNDLEDISPLAYNAME</string>
		</config-file>

        <source-file src="locales/es.lproj/InfoPlist.strings" target-dir="es.lproj" />
		<config-file target="es.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$ES_CFBUNDLEDISPLAYNAME</string>
		</config-file>

		<config-file target="locales/it.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$IT_CFBUNDLEDISPLAYNAME</string>
		</config-file>
        <resource-file src="locales/it.lproj" />

		<!--
        <source-file src="locales/de.lproj/InfoPlist.strings" target-dir="de.lproj/" />
		<config-file target="de.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$DE_CFBUNDLEDISPLAYNAME</string>
		</config-file>

        <source-file src="locales/el.lproj/InfoPlist.strings" target-dir="el.lproj/" />
		<config-file target="el.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$EL_CFBUNDLEDISPLAYNAME</string>
		</config-file>

        <source-file src="locales/en.lproj/InfoPlist.strings" target-dir="en.lproj/" />
		<config-file target="en.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$EN_CFBUNDLEDISPLAYNAME</string>
		</config-file>

        <source-file src="locales/fi.lproj/InfoPlist.strings" target-dir="fi.lproj" />
		<config-file target="fi.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$FI_CFBUNDLEDISPLAYNAME</string>
		</config-file>

        <source-file src="locales/fr.lproj/InfoPlist.strings" target-dir="fr.lproj" />
		<config-file target="fr.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$FR_CFBUNDLEDISPLAYNAME</string>
		</config-file>

        <source-file src="locales/id.lproj/InfoPlist.strings" target-dir="id.lproj" />
		<config-file target="id.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$ID_CFBUNDLEDISPLAYNAME</string>
		</config-file>

		<config-file target="locales/ja.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$JA_CFBUNDLEDISPLAYNAME</string>
		</config-file>
        <resource-file src="locales/ja.lproj" />

		<config-file target="locales/ko.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$KO_CFBUNDLEDISPLAYNAME</string>
		</config-file>
        <resource-file src="locales/ko.lproj" />

		<config-file target="locales/ms.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$MS_CFBUNDLEDISPLAYNAME</string>
		</config-file>
        <resource-file src="locales/ms.lproj" />

		<config-file target="locales/nb.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$NB_CFBUNDLEDISPLAYNAME</string>
		</config-file>
        <resource-file src="locales/nb.lproj" />

		<config-file target="locales/nl.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$NL_CFBUNDLEDISPLAYNAME</string>
		</config-file>
        <resource-file src="locales/nl.lproj" />

		<config-file target="locales/pt.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$PT_CFBUNDLEDISPLAYNAME</string>
		</config-file>
        <resource-file src="locales/pt.lproj" />

		<config-file target="locales/ru.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$RU_CFBUNDLEDISPLAYNAME</string>
		</config-file>
        <resource-file src="locales/ru.lproj" />

		<config-file target="locales/sv.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$SV_CFBUNDLEDISPLAYNAME</string>
		</config-file>
        <resource-file src="locales/sv.lproj" />

		<config-file target="locales/th.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$TH_CFBUNDLEDISPLAYNAME</string>
		</config-file>
        <resource-file src="locales/th.lproj" />
		
		<config-file target="locales/tr.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$TR_CFBUNDLEDISPLAYNAME</string>
		</config-file>
        <resource-file src="locales/tr.lproj" />

		<config-file target="locales/vi.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$VI_CFBUNDLEDISPLAYNAME</string>
		</config-file>
        <resource-file src="locales/vi.lproj" />

		<config-file target="locales/zh.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$ZH_CFBUNDLEDISPLAYNAME</string>
		</config-file>

        <resource-file src="locales/zh.lproj" />
		<config-file target="locales/zh-hant.lproj/InfoPlist.strings" parent="/*">
			<string name="CFBundleDisplayName">$ZH_HANT_CFBUNDLEDISPLAYNAME</string>
		</config-file>
        <resource-file src="locales/zh-hant.lproj" />
		-->
    </platform>
</plugin>